.reqContainer {
    padding: 20px 0 0;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 28px;
        margin: 0 12px;
    
        h1 {
            font-size: 1.5rem;
            height: 30px;
        }
    }
    
    .stepper {
        padding: 8px 16px;

        & > div:nth-child(2),
        & > div:nth-child(4) {
            height: 4px !important;
        }
    }
    
    .map {
        height: calc(100vh - 320px);
        width: 100%;
    }
    
    .modalInfoContainer {
        border-radius: 20px 20px 0px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        z-index: 10;
        position: fixed;
        bottom: 0;
    
        .driverContainer,
        .statisticsInfo {
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    
        .driverContainer {
            height: 60px;
            padding: 0 12px;
            justify-content: space-between;
            background-color: #ffffff;
            border-radius: 20px 20px 0px 0px;
    
            .driverInfo {
                display: flex;
                gap: 8px;
                font-weight: bold;
    
                & > div:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    h3 {
                        font-size: 0.9375rem;
                    }
    
                    p {
                        color: #868585;
                        font-size: 0.875rem;
                    }
                }
            }
            
            .transitBoard {
                border: 2px solid #000;
                width: 100px;
                border-radius: 4px;
                text-align: center;
                font-weight: bold;
    
                & > div:nth-child(1) {
                    background-color: #08399C;
                    color: #fff;
                    height: 16px;
                    font-size: 0.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                } 
                
                & > div:nth-child(2) {
                    height: 20px;
                    font-size: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                } 
            }
        }
    
        .statisticsInfo {
            height: 48px;
            background-color: #D9D9D9;

            .distanceInfoContainer,
            .timeInfoContainer {
                text-align: center;
                font-weight: bold;

                h3 {
                    font-size: 0.9375rem;
                }

                p {
                    color: #868585;
                    font-size: 0.875rem;
                }
            }
        }
    }
}

.requestsContainer {
    background-color: rgba(228, 228, 228, 0.5);

    .tabsContainer {
        background-color: #fff;

        button {
            width: 50%;
        }
    }

    .vehicleContainer {
        min-height: calc(100vh - 120px);
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cardVehicleContainer {
            background-color: #ffffff;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 4px;
    
            h3 {
                color: #989898;
                font-size: 0.875rem;
                margin: 8px 0 4px;
            }
        }

        .addButton {
            background-color: #66B2FF;
            color: #fff;

            svg {
                width: 24px;
                height: 24px;
            }
        }
    }

    .orderServiceContainer {
        min-height: calc(100vh - 120px);
        padding: 12px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cardOrderServiceContainer {
            background-color: #ffffff;
            width: 100%;
            border-radius: 4px;

            h3 {
                color: #989898;
                font-size: 0.875rem;
                margin: 8px 0 4px;
            }

            .actions {
                width: 100%;
                padding: 8px 16px 16px;
                display: flex;
                gap: 8px;

                a,
                .showMore,
                .cancel {
                    text-transform: capitalize;
                    width: 100%;
                }

                .showMore {
                    color: #00a1fc;
                    border-color: #00a1fc;
                }

                .cancel {
                    background-color: #CF6F64;
                }
            }
        }
    }

    footer.appBar {
        position: fixed;
        bottom: 0;
        height: 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;
        border-top: 1px solid #c5c5c5;
        background-color: #ffffff;

        a, button {
            width: 100%;
        }

        button {
            height: 40px;
            background-color: #00a1fc;

            &:disabled {
                background-color: #b3b1b1;
                color: #fff;
            }
        }
    }
}

