.formLabel {
  color: #9f9f9f;
  font-size: 0.875rem;
  font-weight: 600;
  word-wrap: break-word;
}

.formControlLabel {
  color: #9f9f9f;
  font-size: 0.875rem;
  font-weight: 600;
  word-wrap: break-word;
}

.radioIcon {
  color: #9f9f9f;
}
