.vehicleModalContainer {
    & > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 32px;
        
        .newVehicleHeader {
            padding: 12px 12px 0;
            display: flex;
            flex-direction: column;
            gap: 32px;

            .logoSection {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        form {
            padding: 0 12px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            
            .submitButton {
                min-width: 100%;
                height: 44px;
                background-color: #00a1fc;

                &:disabled {
                    background-color: #b3b1b1;
                    color: #fff;
                }
            }
    
            .errorMessage {
                color: #EB5757;
                text-align: center;
            }
        }
    }
}