.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 32px;

  .photoCard {
    width: 100%;
    gap: 32px;

    h1 {
      font-size: 16px;
      margin-bottom: 16px;
      line-height: 1;
    }

    .picture {
      gap: 20px;
      width: 100%;
      height: 216px;
      background-color: #d9d9d9;
      border-radius: 4px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 1.25rem;
        gap: 8px;
      }
    }

    img {
      width: 100%;
      object-fit: fill;
      border-radius: 4px;
    }
  }
}

.alertContainer {
  font-size: 0.875rem;
  font-weight: bold;
  color: #4fc3f7;
  width: 100%;
}
