.requestModal {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 48px;
        height: 72px;
    
        h1 {
            font-size: 1.5rem;
        }
    }
    
    .stepper {
        height: 72px;
        width: calc(100% - 32px);
        margin: auto;
    }
    
    .content {
        min-height: calc(100% - 208px);
    }

    .nextButton {
        width: calc(100% - 32px);
        margin: 12px 16px;
        height: 40px;
    }
}

.firstStep, 
.secondStep,
.thirdStep,
.fourthStep,
.fifthStep {
    padding: 12px;
}