.uploadImageContainer {
  height: 100%;
  width: 100%;
  position: relative;
  
  .uploadImageContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100%;
    justify-content: center;
    min-width: 350px;
    width: 100%;

    .uploadImageButton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
      font-size: 1.25rem;
      gap: 8px;
      color: #000;
    }

    .uploadImagePreview {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .uploadImageError {
      position: absolute;
      bottom: 0;
      color: #d63232;
      font-size: 1rem;
      padding-bottom: 1rem;
    }
  }
}
